*
{
    margin: 0;
    padding: 0;
}


footer .btn
{
    text-decoration: none;
    color: #fff;
    height: 28px;
    text-align: center;
    font-size: 14px;

}

footer .btn:hover{
    color: rgb(87, 154, 248);
    text-decoration: underline;
}

.border-start{
    margin-left: 20px;
    
}

footer p
{
    font-size: 12px;
    
}

.main
{
    margin: 0 220px 0 10px;
}